<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>udaykumar</title>
    <style>
        body{
            background-color: antiquewhite;
            color: aqua;
            padding: 1cm;
        }
    </style>
</head>
<body>
    <center>
        <h1>{% if a > b and a > c %}</h1>
            {{'a is big'}}
        <h1>{% elif b > c %}</h1>
            {{'b is big'}}
        <h1>{% else %}</h1>
            {{'c is big'}}
        <h1>{% endif %}</h1>
    </center>
</body>
</html>